[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
dotenv = "*"
sqlalchemy = "*"
pg8000 = "*"
jwt = "*"
pyjwt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
