[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"
pg8000 = "*"
flask-jwt-extended = "*"
gunicorn = {version = "*", sys_platform = "!='win32'"}
waitress = {version = "*", sys_platform = "=='win32'"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
